VITE_SUPABASE_URL=https://dblskhfkqkiinjylnsyf.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImRibHNraGZrcWtpaW5qeWxuc3lmIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTUwMjIzMTIsImV4cCI6MjA3MDU5ODMxMn0.o4d81OgMTXNMbkF40t_nM1ZRAQsyeEp-iGgc2o89W4c
VITE_ADMIN_PASSWORD=sherdor